body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}

.title {
    display: flex;
    padding: 100px;
    gap: 30px;
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.title-text {
    height: 300px;
    width: 600px;
}

.top-image {
    height: 300px;
    width: 600px;
    background-color: lightgray;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 70px;
}

.item-container {
    display: flex;
}

.image {
    height: 200px;
    width: 200px;
    border: 5px solid lightskyblue;
    border-radius: 30px;
}

.quote {
    padding: 150px;
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.quote-owner {
    float: right;
    font-size: 36px;
    color: #1f2937;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.box {
    background-color: #3882f6;
    display: flex;

}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #1f2937;
    color: #f9faf8;
}



